@font-face {
    font-family: 'RobotoItalicBold';
    src: url('../fonts/Roboto-BoldItalic.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/Roboto-Medium.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
  }

* {
    font-family: "RobotoMedium", sans-serif;
}

body {
    margin: 10px;
    padding: 20px;
    background-color: #dddaa654;
}

.underline {
    text-decoration: underline;
    color: blue;
}

.underline-consonant {
    color: red;
}


header {
    background-color: #e4df89;
    color: black;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    height: 100%;
    border-bottom: solid 3px transparent; 
    border-radius: 10px;
    border-image: linear-gradient(to bottom, #e4df89), #e4df89, white 1 100%;
}

.logo{
    margin: 20 0 0 0
}

h1 {
    color: black; 
    font-size: 2em; 
    text-align: center;
    font-size: 30px;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
   
    display :flex;
    justify-content: space-evenly; 
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

nav ul li a {
    font-family: "RobotoItalicBold", sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    display: block;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #dddaa6;
    padding: 10px;
    top: 100%; 
    left: 0;
    width: 150px; 
    border-left: solid 3px; 
    border-top: solid 3px ;
    border-radius: 10px;
    border-image: linear-gradient(to right, rgba(255,255,255,0), rgba(0,0,0,0.8), rgba(255,255,255,0)) 1 100%;
}

nav ul li ul li {
    display: block;
    margin: 5px 0;
}

.content p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 20px 0;
    padding: 10 10 0 10;
    text-align: center;
    color: black;

}

.sub-paragraphe{
    font-family: "RobotoItalicBold", sans-serif;
    font-size: 1.5em; 
    color:#8D8C71;
    text-align:center;
}

.surlibeige{
    background-color: #e4df89;
}

.surlirose{
    background-color: pink;
}

.content {
    background-color: #e4df89;
    max-width: 80%;
    margin: 20px auto;
    text-align: justify; 
    padding: 20px;
    border-bottom: solid 3px transparent; 
    border-radius: 10px;
    border-image: linear-gradient(to right, rgba(255,255,255,0), rgba(0,0,0,0.8), rgba(255,255,255,0)) 1 100%;
}

footer {
    background-color: #e4df89;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-bottom: solid 3px transparent; 
    border-radius: 10px;
    border-image: linear-gradient(to right, rgba(255,255,255,0), rgba(0,0,0,0.8), rgba(255,255,255,0)) 1 100%;
}

footer p{
    font-family: "RobotoItalicBold", sans-serif;
}

#inputField {
    margin: 20px;
  }

  #outputTable {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
  }

  #outputTable th, #outputTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  #outputTable tr {
    background-color: white;
  }

  #outputTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #outputText {
    margin: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
  }
  .div2{
    background-color: white;
    height: 5px; 
    width: 100%;
    font-size: 1px;
  }

.number {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}
.status {
    text-align: center;
    font-size: 24px;
    color: green;
}

#multiplication-tables {
    background-color: #e4df89;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.table {
    margin: 10px;
    display: inline-block;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.table h3 {
    margin: 0;
    padding: 5px;
    background-color: #f9f9f9;
}

.cell {
    margin: 5px;
}

.counter{
    text-align: center;
}

#button-guess{
    text-align: center;
}