body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

.underline {
    text-decoration: underline;
    color: blue;
}

.underline-consonant {
    color: red;
}


header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
    height: 100%;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
   
    display :flex;
    justify-content: space-evenly; 
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    display: block;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px;
    top: 100%; 
    left: 0;
    width: 150px; 
}

nav ul li ul li {
    display: block;
    margin: 5px 0;
}

.content {
    max-width: 800px;
    margin: 20px auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#inputField {
    margin: 20px;
  }

  #outputTable {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
  }

  #outputTable th, #outputTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  #outputTable tr {
    background-color: white;
  }

  #outputTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #outputText {
    margin: 20px;
    font-weight: bold;
  }
  .div2{
    background-color: white;
    height: 5px; 
    width: 100%;
    font-size: 1px;
  }

.number {
    font-size: 40px;
    margin-bottom: 20px;
}
.status {
    font-size: 24px;
    color: green;
}